<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<form action="login" method="post">
			<label for="email">Email</label>
			<input type="text" name="email" placeholder="email" id="email">
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="password" id="password">
			<button type="submit">Login</button>
		</form>
	</body>
</html>